.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 24px;
  padding: 12px;
}

.form {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
